* { /*all tags*/
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
}

html body {
        background-color: rgb(255, 255, 255);

}


div {
    text-align: center;
    justify-content: center;
}

h1{
    font-size: 3rem;
}

h6{
    font: 2rem;
}

.flex {
    display: flex;
}

/*btn is for buttons on home page */
.btn {
    height:50px;
    width:200px;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    cursor: pointer; /*make the cursor turn to a hand when hovering*/
    padding: 10px 20px;
    font-size:  20px;
    transition-duration: 0.4s;
    background-color: rgb(177, 169, 169);
}

.btn:hover { /*change color on mouseover*/
    background-color: #565556; /*dark gray */
    border-color: black;
    color: rgb(255, 255, 255);
} 

.navBtn {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

/*for grouping items together in a box*/
.group {
    border-style: solid;
    border-color: #565556;
    background-color: #60519c;
    display: inline-block; /*makes div adhere to content width*/
    min-width: 40%;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px
}

.topbar {
    overflow: hidden;
    background-color: #60519c;
    border-radius: 10px;
  }
  
.topbar a {
    float: left;
    color: #f2f2f2;
    padding: 15px;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
}
  
.topbar a:hover {
    background-color: #7663be;
}
  
.topbar a.active {
    background-color: #04AA6D;
    color: white;
    text-decoration: none;
}

.topbar img{
    height: 3rem;
}

.homeButton{
    font-size: 2rem;
}

/* for all page titles */

.addCust{
    height:30px;
    min-width: 100px;
    border-radius: 1px;
    text-align: center;
    background-color: rgb(177, 169, 169);
    border-style: solid;
    border-color: black;
    font-size: 1rem;
}
/*for all submit buttons */
.submit{
    height:30px;
    min-width: 150px;
    border-radius: 1px;
    text-align: center;
    background-color: rgb(177, 169, 169);
    border-style: solid;
    border-color: black;
    font-size: 1rem;
}

.submit:hover { /*change color on mouseover*/
    background-color: #565556; /*dark gray */
    border-color: black;
    color: rgb(255, 255, 255);
}

/* aligns the labels and inputs regardless of mismatched length
https://stackoverflow.com/questions/9686538/align-labels-in-form-next-to-input
 answer from David Rutherford
 */

div.grid {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 5px;
    
}

div.grid label {
    text-align: right;
}

div.grid label:after {
    content: ":"; /*adds a semicolon after label text*/
}

/*for all other input fields (text boxes, date selection, dropdowns */ 
.txt{
    background-color:  white;
    text-align: left;
    border-radius: 1px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    font-size: 1rem;
}

.navbar {
    text-align:center;
    border: solid #565555 3px;
    margin: 1.75rem;
    padding: 1.75rem 0;
    justify-content: center;
    overflow: hidden;
    background-color: #57488d;
}

.navbar a {
    padding: 1.5rem .5rem;
    background-color: #60519c;
    margin-inline: .20vw;
    cursor: pointer;
    text-decoration: none;
    color: #f2f2f2;
    font-size: 1.5rem;
}

.navbar a:hover {
    box-shadow: black 0 0 10px 2px;
    background-color: #7663be;
}